<div class="container">
<h1>Current Blog Posts</h1>
<div class="row">
	<% @blog_posts.each do |blog_post| %>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= link_to blog_post.title, blog_post %>
				</div> 

			<div class= "panel-body">
<!-- # The "by" on the next line doesn't need to be in quotes since this is HTML -->
			by <%= blog_post.author %><br />
			   <p>Created at: <%= blog_post.created_at.strftime("%m/%d.%Y at %I:%M%p")%></p>
			<p><%= blog_post.blog_entry %></p>

			</div>

			<div class= "panel-footer">
			<%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
			<%= link_to "Delete", blog_post, method: :delete, data: { confirm: "are your sure?"}, class: "btn btn-danger" %>
			</div>
	    </div>
	</div>
	<% end %>
</div>
<!-- # The extra space is OK -->
<br />

<%= link_to "New Blog Post", new_blog_post_path , class: "btn btn-primary" %>

</div>
